.box {
    height: 300px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
}

.title {
    padding: 5px;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    border-radius: 10px 10px 0 0;
}